body {
    position: relative;
    background-color: black;
    margin: 0;
}
.navbar-container {
    width: 100%;
    top: 0;
    background-color: rgba(66, 65, 65, 0.75);
    position: fixed;
    z-index: 1;
}
.navbar-container::after {
    content: '';
    display: block;
    clear: both;
}
.navbar-items {
    list-style: none;
    /* margin-left: 300px ; */
    /* font-size: 18px;

    padding-left:0 ; */
    padding: 0;
    margin: 24.5px 20px 24.5px 300px;

    /* margin-bottom: 0; */
}
.nav-item a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    /* font-weight: bold; */
    /* font-family: ; */
    padding: 12px;
    /* margin-right: 20px; */
    color: white;
}
.nav-item a:hover {
    color: rgb(88, 188, 215);
}
.logo {
    /* float: left; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    margin-left: 130px;
    font-size: 18px;
    color: rgb(233, 200, 54);
}
.nav-item {
    float: left;
   list-style: none;
}
.navbar-items::after {
    content: "";
    display: block;
    clear: both;
}
.tagline {
    position: absolute;
    color: white;
    right: 30px;
    top: 550px;
    font-size: 25px;
}
.tag-name {
    position: absolute;
    color: white;
    right: 10px;
    top: 590px;
    font-size: 18px;
}
.description {
    color: white;
    font-size: 36px;
    text-align: center;
    margin: 23px;
}
.about {
    position: absolute;
    left: 800px;
}
h2 {
    margin-top: 120px;
    color: white;
    text-align: center;

}
h3 {
    color: white;
}
p {
    color: white;
    margin: 10px 40px;
}
.records-section {
    margin: auto;
    text-align: center;
}
.records-section span {
    display: inline-block;
    margin: 80px 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: top;
    padding: 80px 40px 80px 40px;
    border: 1px solid transparent;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, .4);/*hue,saturation,lightness,alpha*/
    font-size:  23px;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}
.contact {
    width: 700px;
    height: 460px;
}
h4 {
    margin: 20px 10px;
    text-align: center;
}
.form {
    width: 600px;
    height: 450px;
    background-color: hsla(0, 0%, 100%, .4);
    color: black;
    position: absolute;
    top: 200px;
    left: 800px;
    /* display: inline-block; */
}
.form label {
    padding: 10px 20px;
}
/* .form input {
    width: 300px;
} */
.form button {
    display: block;
    margin: auto;
}
.maps {
    margin-left: 200px;
}
.footer {
    background-color: rgb(128, 128, 128, 0.1);
    padding: 10px 0;
    clear: both;
}
.developer {
    text-align: center;
}
.developer-text {
    color: white;
    font-size: 14px;
    text-align: center;
}
.socialmedia-links {
    text-align: center;
    margin: 50px 0;
}

.media-icon {
    color: skyblue;
    margin-right: 15px;
}

.socialmedia-connected-text {
    color: white;
    margin-right: 30px;
    font-size: 14px;
}
.hamburger-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: white;
    border: 1px solid skyblue;
    padding: .25rem .75rem;
    border-radius: .25rem;
}
.navbar-items.showNavItems {
    right: 0;
}
.background-image {
    height: 750px;
    width: 1460px;
}

@media only screen and (max-width: 992px) {
    .logo {
        margin-left: 10px;
        top: -20px;
        float: left;
        position: static;
    }
    .navbar-items {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 60px 0 0 0;
        position: absolute;
        top: 40px;
        right: -165px;
        min-width: 150px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: right 0.5s linear;
    }
    .nav-item {
        margin: 0;
    }
    .hamburger-icon {
        display: inline-block;
    }
    
    .background-image {
        width: 600px;
        height: 496px;
        background-repeat: no-repeat;
        background-position: -400px -150px;
    }
     /* .responsive-image {
        display: inline-block;
        background-repeat: no-repeat;
    } */
    .tagline {
        position: absolute;
        color: white;
        right: 30px;
        top: 450px;
        font-size: 15px;
    }
    .tag-name {
        position: absolute;
        color: white;
        right: 10px;
        top: 465px;
        font-size: 12px;
    }
    .description {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 18px;
    }
    .whats-app, .phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .phone {
        position: fixed;
        right: 5px;
        bottom: 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba(34,189, 184, .7);
    }
    .whats-app {
        position: fixed;
        left: 5px;
        bottom: 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba(34,189, 184, .7);
    }
   .whats-app-Icon, .phone-Icon {
        text-decoration: none;
        background-color: transparent;
        color: white;
   }
}
